/* line 17, ../../../../../../usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 22, ../sass/main.scss */
*, *:before, *:after {
  box-sizing: border-box;
}

/* line 26, ../sass/main.scss */
body {
  font-family: "Merriweather";
}

/* line 31, ../sass/main.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Lato";
  font-weight: 900;
  margin-bottom: 1em;
}

/* line 38, ../sass/main.scss */
h2 {
  font-size: 2em;
}

/* line 40, ../sass/main.scss */
p {
  font-size: 1em;
  margin-bottom: 1.6em;
}

/* line 45, ../sass/main.scss */
a {
  text-decoration: none;
  color: #02a4ff;
}

/* line 50, ../sass/main.scss */
.thin {
  font-weight: 100;
}

/* line 52, ../sass/main.scss */
#logo {
  display: none;
  position: fixed;
  z-index: 10;
  top: .5em;
  left: .5em;
  background: #02a4ff;
  width: 1.8em;
  height: 1.8em;
  line-height: 1.8em;
  font-size: 1.8em;
  border-radius: 50%;
  text-align: center;
}
/* line 66, ../sass/main.scss */
#logo span {
  color: #fff;
  font-family: 'Lato';
  font-weight: 900;
}

/* line 73, ../sass/main.scss */
nav {
  display: none;
  width: 100%;
}
/* line 76, ../sass/main.scss */
nav.bottom {
  position: absolute;
  bottom: 0;
}
/* line 81, ../sass/main.scss */
nav menu {
  margin: 0 auto;
  padding: 0 1em;
  width: 100%;
  text-align: center;
}
@media (min-width: 380px) {
  /* line 81, ../sass/main.scss */
  nav menu {
    font-size: 1.2em;
    text-align: center;
  }
}
/* line 92, ../sass/main.scss */
nav li {
  display: inline-block;
}
/* line 95, ../sass/main.scss */
nav li a {
  font-family: "Lato";
  font-size: .8em;
  display: block;
  padding: 1.8em 1em;
  width: 100%;
  font-size: .8em;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in false;
  -o-transition: all 0.2s ease-in false;
  transition: all 0.2s ease-in;
}

@-webkit-keyframes fadeInUp {
  /* line 114, ../sass/main.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(10vh);
    -moz-transform: translateY(10vh);
    -ms-transform: translateY(10vh);
    -o-transform: translateY(10vh);
    transform: translateY(10vh);
  }

  /* line 118, ../sass/main.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@-moz-keyframes fadeInUp {
  /* line 114, ../sass/main.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(10vh);
    -moz-transform: translateY(10vh);
    -ms-transform: translateY(10vh);
    -o-transform: translateY(10vh);
    transform: translateY(10vh);
  }

  /* line 118, ../sass/main.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@-o-keyframes fadeInUp {
  /* line 114, ../sass/main.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(10vh);
    -moz-transform: translateY(10vh);
    -ms-transform: translateY(10vh);
    -o-transform: translateY(10vh);
    transform: translateY(10vh);
  }

  /* line 118, ../sass/main.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  /* line 114, ../sass/main.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(10vh);
    -moz-transform: translateY(10vh);
    -ms-transform: translateY(10vh);
    -o-transform: translateY(10vh);
    transform: translateY(10vh);
  }

  /* line 118, ../sass/main.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes scaleBg {
  /* line 125, ../sass/main.scss */
  0% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  /* line 128, ../sass/main.scss */
  50% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  /* line 131, ../sass/main.scss */
  100% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@-moz-keyframes scaleBg {
  /* line 125, ../sass/main.scss */
  0% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  /* line 128, ../sass/main.scss */
  50% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  /* line 131, ../sass/main.scss */
  100% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@-o-keyframes scaleBg {
  /* line 125, ../sass/main.scss */
  0% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  /* line 128, ../sass/main.scss */
  50% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  /* line 131, ../sass/main.scss */
  100% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes scaleBg {
  /* line 125, ../sass/main.scss */
  0% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  /* line 128, ../sass/main.scss */
  50% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  /* line 131, ../sass/main.scss */
  100% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@-webkit-keyframes slideBg {
  /* line 137, ../sass/main.scss */
  0% {
    background-position: 0vw center;
  }

  /* line 140, ../sass/main.scss */
  100% {
    background-position: -200vw center;
  }
}

@-moz-keyframes slideBg {
  /* line 137, ../sass/main.scss */
  0% {
    background-position: 0vw center;
  }

  /* line 140, ../sass/main.scss */
  100% {
    background-position: -200vw center;
  }
}

@-o-keyframes slideBg {
  /* line 137, ../sass/main.scss */
  0% {
    background-position: 0vw center;
  }

  /* line 140, ../sass/main.scss */
  100% {
    background-position: -200vw center;
  }
}

@keyframes slideBg {
  /* line 137, ../sass/main.scss */
  0% {
    background-position: 0vw center;
  }

  /* line 140, ../sass/main.scss */
  100% {
    background-position: -200vw center;
  }
}

@media (min-width: 786px) {
  @-webkit-keyframes slideBg {
    /* line 147, ../sass/main.scss */
    0% {
      background-position: 0vw center;
    }

    /* line 150, ../sass/main.scss */
    100% {
      background-position: -150vw center;
    }
}

  @-moz-keyframes slideBg {
    /* line 147, ../sass/main.scss */
    0% {
      background-position: 0vw center;
    }

    /* line 150, ../sass/main.scss */
    100% {
      background-position: -150vw center;
    }
}

  @-o-keyframes slideBg {
    /* line 147, ../sass/main.scss */
    0% {
      background-position: 0vw center;
    }

    /* line 150, ../sass/main.scss */
    100% {
      background-position: -150vw center;
    }
}

  @keyframes slideBg {
    /* line 147, ../sass/main.scss */
    0% {
      background-position: 0vw center;
    }

    /* line 150, ../sass/main.scss */
    100% {
      background-position: -150vw center;
    }
}
}
@media (min-width: 1186px) {
  @-webkit-keyframes slideBg {
    /* line 158, ../sass/main.scss */
    0% {
      background-position: 0vw center;
    }

    /* line 161, ../sass/main.scss */
    100% {
      background-position: -100vw center;
    }
}

  @-moz-keyframes slideBg {
    /* line 158, ../sass/main.scss */
    0% {
      background-position: 0vw center;
    }

    /* line 161, ../sass/main.scss */
    100% {
      background-position: -100vw center;
    }
}

  @-o-keyframes slideBg {
    /* line 158, ../sass/main.scss */
    0% {
      background-position: 0vw center;
    }

    /* line 161, ../sass/main.scss */
    100% {
      background-position: -100vw center;
    }
}

  @keyframes slideBg {
    /* line 158, ../sass/main.scss */
    0% {
      background-position: 0vw center;
    }

    /* line 161, ../sass/main.scss */
    100% {
      background-position: -100vw center;
    }
}
}
/* line 167, ../sass/main.scss */
.bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 200vw auto;
  background-position: center;
  background-image: url("../img/baby.jpg");
  opacity: .4;
}
@media (min-width: 786px) {
  /* line 167, ../sass/main.scss */
  .bg-image {
    background-size: 150vw auto;
  }
}
@media (min-width: 1186px) {
  /* line 167, ../sass/main.scss */
  .bg-image {
    background-size: 100vw auto;
  }
}
/* line 184, ../sass/main.scss */
.bg-image.animate.active {
  -webkit-animation: scaleBg 60s ease-in-out infinite, slideBg 60s linear infinite;
  -moz-animation: scaleBg 60s ease-in-out infinite, slideBg 60s linear infinite;
  animation: scaleBg 60s ease-in-out infinite, slideBg 60s linear infinite;
}
/* line 192, ../sass/main.scss */
.bg-image img {
  display: none;
  width: 100%;
  margin: -30px;
  -webkit-filter: blur(30px);
  -moz-filter: blur(30px);
  filter: blur(30px);
}

/* line 203, ../sass/main.scss */
section {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
}

/* line 211, ../sass/main.scss */
.wrapper {
  width: 100%;
  max-width: 760px;
  margin: 0 auto;
  padding: 4em 1em 2em;
}
/* line 217, ../sass/main.scss */
.wrapper.center {
  padding: 0;
  width: auto;
}

/* line 224, ../sass/main.scss */
.table {
  min-height: 300px;
  position: relative;
  display: table;
}
/* line 228, ../sass/main.scss */
.table .cell {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

/* line 237, ../sass/main.scss */
#header {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  min-height: 300px;
  background: #02a4ff;
}
@media (min-width: 640px) {
  /* line 237, ../sass/main.scss */
  #header {
    height: 100vh;
  }
}
/* line 251, ../sass/main.scss */
#header hgroup {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #001c1f;
  color: #fff;
}
/* line 260, ../sass/main.scss */
#header hgroup h1 {
  font-weight: 900;
  line-height: 1.6;
  font-size: 2em;
  margin: 0;
  opacity: 0;
}
/* line 266, ../sass/main.scss */
#header hgroup h1.animate.active {
  -webkit-animation: fadeInUp 0.5s ease-in forwards;
  -moz-animation: fadeInUp 0.5s ease-in forwards;
  animation: fadeInUp 0.5s ease-in forwards;
}
/* line 272, ../sass/main.scss */
#header hgroup p {
  font-family: "Lato";
  font-size: 1em;
  line-height: 1;
}
/* line 278, ../sass/main.scss */
#header hgroup a {
  color: #001c1f;
}
@media (min-width: 380px) {
  /* line 283, ../sass/main.scss */
  #header hgroup h1 {
    font-size: 3em;
  }
  /* line 284, ../sass/main.scss */
  #header hgroup p {
    font-size: 1em;
  }
}
@media (min-width: 640px) {
  /* line 287, ../sass/main.scss */
  #header hgroup h1 {
    font-size: 5em;
  }
  /* line 288, ../sass/main.scss */
  #header hgroup p {
    font-size: 1.3em;
  }
}
@media (min-width: 760px) {
  /* line 291, ../sass/main.scss */
  #header hgroup h1 {
    font-size: 8em;
  }
  /* line 292, ../sass/main.scss */
  #header hgroup p {
    font-size: 1.4em;
  }
}
/* line 296, ../sass/main.scss */
#header nav a {
  color: #fff;
  opacity: .5;
}
/* line 297, ../sass/main.scss */
#header nav a:hover {
  opacity: 1;
}

/* line 302, ../sass/main.scss */
section.body {
  font-size: 1em;
  color: #001c1f;
}
/* line 307, ../sass/main.scss */
section.body p {
  line-height: 1.5;
}
@media (min-width: 640px) {
  /* line 302, ../sass/main.scss */
  section.body {
    font-size: 1.15em;
  }
  /* line 316, ../sass/main.scss */
  section.body p {
    line-height: 1.6;
  }
}
@media (min-width: 760px) {
  /* line 302, ../sass/main.scss */
  section.body {
    font-size: 1.3em;
  }
}
